<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Haber Sitesi  &nbsp; </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul   class="navbar-nav mr-auto">
      <li  class="nav-item">
      <a *ngFor="let category of category" class="navbar-brand" routerLink="news/category/{{category.id}}">{{category.categoryName}}  &nbsp; </a>
      </li>
      
          <li class="nav-item">
            <a class="navbar-brand" *ngIf="isAuthenticated" routerLink="newsadd" routerLinkActive="active">Haber Ekle  &nbsp; </a>
          </li>
        </ul>
        <button class="btn btn-secondary my-2 my-sm-0" *ngIf="isAuthenticated" (click)="logOut()"  type="submit">Çıkış</button>
    
  </div>
</nav>
