<div  >
  <div  class="slider" style="width: 40rem;  " id="yanyana_hizalama">
    <div class="callbacks_container" >
      <ul class="rslides callbacks callbacks1">
        <ngx-slick-carousel class="carousel" 
                  #slickModal="slick-carousel" 
                  [config]="slideConfig" >
            <li ngxSlickItem *ngFor="let news of news | slice:0:5; let i=index " class="slide">
                <div class="banner-top"  routerLink="/newsDetail/{{news.id}}" class="btn btn-sm btn-light">
                  <img class="card-img-top"src="{{news.photoUrl}}" class="img" alt="Card image cap" >
                  <b> {{news.title}}</b>
                </div>
            </li>
        </ngx-slick-carousel>
      </ul>
    </div>
  </div>

  <div id="yanyana_hizalama" >
    <div  style="width:100%;display:flex;justify-content:left;text-align: -webkit-center;margin: 20px 0;">
      <iframe  title="beterbocekler2.tr.gg" 
      sandbox="allow-modals allow-same-origin allow-scripts allow-popups allow-pointer-lock" 
      height="200" id="piyasa_paratic_liste" 
      src="https://piyasa.paratic.com/MOBILE/widget/toolapi.php?toolName=liste&background=mavi&header=Doviz Altin&ins=USD/TRL,EUR/TRL,GBP/TRL,XGLD,SGCEYREK" 
      frameborder="0" style="border-radius:5px;width:200px; height:185px;"></iframe>
    </div>
  </div>
</div>