#yanyana_hizalama{
    float: left;
}
img{
    height: 150px; 
    width: 100%;
    object-fit:fill;
 }
 #card:hover{color:red;}
 div {
    
    white-space:inherit;
}
 .slick-slide img {
    height:400px;
 }
 #slider-cursor
 {
    cursor:pointer;
 }